<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>WTSwitchCell</string>
			<key>switchColor</key>
			<string>#CB1F4B</string>
			<key>switchColorAlpha</key>
			<real>1.0</real>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.halliehax.waggletunes.prefs</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enable(Respring Required)</string>
			<key>PostNotification</key>
			<string>com.halliehax.waggletunes.prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>WTSwitchCell</string>
			<key>switchColor</key>
			<string>#CB1F4B</string>
			<key>switchColorAlpha</key>
			<real>1.0</real>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.halliehax.waggletunes.prefs</string>
			<key>key</key>
			<string>lockscreenEnabled</string>
			<key>label</key>
			<string>Enable on lockscreen</string>
			<key>PostNotification</key>
			<string>com.halliehax.waggletunes.prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>WTSwitchCell</string>
			<key>switchColor</key>
			<string>#CB1F4B</string>
			<key>switchColorAlpha</key>
			<real>1.0</real>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.halliehax.waggletunes.prefs</string>
			<key>key</key>
			<string>hideSS</string>
			<key>label</key>
			<string>Hide in screenshots</string>
			<key>PostNotification</key>
			<string>com.halliehax.waggletunes.prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>WaggleTunes Controller Position</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.halliehax.waggletunes.prefs</string>
			<key>key</key>
			<string>positions</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Default Position</string>
				<string>Freely Moving</string>
			</array>
			<key>alignment</key>
			<string>4</string>
			<key>PostNotification</key>
			<string>com.halliehax.waggletunes.prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Long-Press Action</string>
			<key>footerText</key>
			<string>The action triggered with a long press gesture on the album art</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.halliehax.waggletunes.prefs</string>
			<key>key</key>
			<string>lpAction</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>None</string>
				<string>Lyrication</string>
				<string>Open Now Playing</string>
			</array>
			<key>alignment</key>
			<string>4</string>
			<key>PostNotification</key>
			<string>com.halliehax.waggletunes.prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>WaggleTunes Haptics</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.halliehax.waggletunes.prefs</string>
			<key>key</key>
			<string>haptics</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1519</integer>
				<integer>1520</integer>
				<integer>1521</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>None</string>
				<string>Light</string>
				<string>Medium</string>
				<string>Strong</string>
			</array>
			<key>alignment</key>
			<string>4</string>
			<key>PostNotification</key>
			<string>com.halliehax.waggletunes.prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>WaggleTunes Controller Size</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.halliehax.waggletunes.prefs</string>
			<key>key</key>
			<string>size</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Small</string>
				<string>Medium</string>
				<string>Large</string>
			</array>
			<key>alignment</key>
			<string>4</string>
			<key>PostNotification</key>
			<string>com.halliehax.waggletunes.prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>WaggleTunes Controller Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.halliehax.waggletunes.prefs</string>
			<key>key</key>
			<string>colors</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Album Colors</string>
				<string>Black + White</string>
			</array>
			<key>alignment</key>
			<string>4</string>
			<key>PostNotification</key>
			<string>com.halliehax.waggletunes.prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>WaggleTunes Control Background Style</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.halliehax.waggletunes.prefs</string>
			<key>key</key>
			<string>backgroundStyle</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Solid</string>
				<string>Translucent</string>
				<string>Clear</string>
			</array>
			<key>alignment</key>
			<string>4</string>
			<key>PostNotification</key>
			<string>com.halliehax.waggletunes.prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>WaggleTunes Controller Button Style</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.halliehax.waggletunes.prefs</string>
			<key>key</key>
			<string>appearance</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Filled</string>
				<string>Outlines</string>
			</array>
			<key>alignment</key>
			<string>4</string>
			<key>PostNotification</key>
			<string>com.halliehax.waggletunes.prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Edge Snapping Sensitivity 1(Less) - 10(More)</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<!-- <string>HBStepperTableCell</string> -->
			<string>WTStepperCell</string>
			<key>default</key>
			<real>5</real>
			<key>defaults</key>
			<string>com.halliehax.waggletunes.prefs</string>
			<key>key</key>
			<string>horSens</string>
			<key>label</key>
			<string>Horizontal Sensitivity</string>
			<key>max</key>
			<real>10</real>
			<key>min</key>
			<real>1</real>
			<key>PostNotification</key>
			<string>com.halliehax.waggletunes.prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>WTStepperCell</string>
			<key>default</key>
			<real>5</real>
			<key>defaults</key>
			<string>com.halliehax.waggletunes.prefs</string>
			<key>key</key>
			<string>verSens</string>
			<key>label</key>
			<string>Vertical Sensitivity</string>
			<key>max</key>
			<real>10</real>
			<key>min</key>
			<real>1</real>
			<key>PostNotification</key>
			<string>com.halliehax.waggletunes.prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>action</key>
			<string>resetPrefs</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>Reset Preferences</string>
			<key>confirmation</key>
			<dict>
				<key>prompt</key>
				<string>This will reset all of your preferences to the default values! If you confirm, your device will respring</string>
				<key>title</key>
				<string>Yes please!</string>
				<key>cancelTitle</key>
				<string>No thanks!</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Check out my Twitter</string>
			<key>user</key>
			<string>HaxHallie</string>
			<key>userID</key>
			<string>1366448821400723463</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Marcel Braun ~ Lyrication</string>
			<key>user</key>
			<string>thatmarcelbraun</string>
			<key>userID</key>
			<string>1105160826200178688</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>HUGE thanks to everyone @</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>iOS Development Discord Server</string>
			<key>subtitle</key>
			<string>Without their help, this tweak wouldn't exist</string>
			<key>url</key>
			<string>https://discord.gg/WWbjTum</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>With Color Library From</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>pixelogik on Github</string>
			<key>subtitle</key>
			<string>Released with the MIT License. See their work here</string>
			<key>url</key>
			<string>https://github.com/pixelogik/ColorCube</string>
		</dict>
		<!-- <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>If you LOVED this tweak</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Donate on PayPal</string>
			<key>subtitle</key>
			<string>It helps me keep making tweaks!</string>
			<key>url</key>
			<string>https://paypal.me/halliehaxs</string>
		</dict>		 -->
	</array>
	<key>title</key>
	<string>WaggleTunes</string>
</dict>
</plist>
